.img    
 display: block  
 display: flex
 flex-direction: row 
 max-width: 100%   
 max-height: 100%   
 width: 300px 

.row   
 margin: auto   
 width: 50%   
 display: flex   
 flex-direction: row   
 margin-bottom: 50px


.col-6
    margin: auto
    width: 100%
    display: flex
    flex-direction: row
    margin-bottom: 50px     